{% include 'header.html' %}
{% extends 'base.html' %}


{% block title %} Website Name {% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            {% for item in all_items %}
                <div class="card-deck">
                    <div class="col sm-12 md-4 lg-3">
                        <div class="card h-100">
                            <a href="{{ url_for('selected_item', item_id=item.id) }}"><img src="{{ '../' + item.photo_url }}" class="card-img-top">
                                </a>
                            <div class="card-body">
                                <div class="card-body">
                                    {% if item.supply >= 1%}
                                        <div class="row">
                                            <div class="col-sm">
                                                <p class="price-text"> ${{ item.price }} <p>
                                            </div>
                                            <div class="col-sm">
                                                <a href="{{ url_for('add_item_to_bag', item_id=item.id) }}"><i class="fas fa-shopping-cart fa-2x"></i></a>
                                            </div>
                                        </div>
                                    {% else %}
                                        <button class="btn btn-primary" disabled>Not on Stock</button>
                                    {% endif %}
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
